# Maven
target/

# IntelliJ IDEA
.idea/
*.iml
out/
gen/

# Logs
*.log
hs_err_pid*

# OS
.DS_Store
Thumbs.db

# Maven wrapper (opțional, dar de obicei se păstrează în proiecte reale)
.mvn/
mvnw
mvnw.cmd

# Allure
.allure/
allure-report/
allure-results/

# Logs
logs/